<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form class="form-signin">       
          <h2 class="form-signin-heading">Todomate 회원가입</h2>
          <input type="text" id="id" class="form-control" name="username" placeholder="아이디" required autofocus="" />
          <input type="text" id="name" class="form-control" name="username" placeholder="이름" required autofocus="" />
          <input type="password" id="psword" class="form-control" name="password" placeholder="비밀번호" required="" autofocus=""/>      
          <input type="password" id="confirm-psword" class="form-control" name="password" placeholder="비밀번호 확인" required="" autofocus=""/>      
          <button id="bttn" class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>   
          <p class = "message"> 이미 회원이신가요? <a href = "/login">로그인하기</a></p> 
        </form>
      </div>

</body>
</html>